<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title> <!-- title is a helper method -->
		<%= csrf_meta_tag %>
		<%= render "layouts/stylesheets" %>
	</head>
	<body>
		<div class="container">
			<%= render "layouts/head" %>
			<section class="round">
				<%= yield %>
			</section>
			<footer>
				<nav class="round">
				<ul>
					<li><%= link_to "Home", '#' %></li>
					<li><%= link_to "Help", '#' %></li>
					<li><%= link_to "Sign in", '#' %></li>
				</ul>
				</nav>
			</footer>
		</div>
		<div id="bg_cloud"></div>
	</body>
	
</html>