<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title> <!-- title is a helper method -->
		<%= csrf_meta_tag %>
		<%= render "layouts/stylesheets" %>
	</head>
	<body>
		<div class="container">
			<%= render "layouts/head" %>
			<section class="round">
				<%= yield %>
			</section>
			<%= render "layouts/footer" %>
		</div>
		<div id="bg_cloud"></div>
	</body>
</html>